@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700&family=Roboto+Mono:wght@300;600;700&display=swap');
*{
  
    box-sizing: border-box; 
    margin:0;
    padding: 0;
}

html, body{  
    height: 100vh;
    width: 100vw;
}

.container{
    background: url("images/hd-high-rise-buildings-cityscape-h1xqu3ij5aw0m3mr.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    justify-content: space-between;
   
}

.textos{  
    color:#eee;
    text-shadow: 1px 0px 6px #222; 

}

/* Frase */
.frase{
    font-family:'Roboto mono', sans-serif; 
    width: 50%;
    font-size: 20px;
}

.frase-autor{
    font-weight: bold;
    margin-top: 20px;
}


/* Relógio */

.relogio{
    font-family: 'Bebas Neue';    
    font-size: 60px;
    text-align: left;
    justify-content: space-between;
    display: flex;
    width: 100%;
    
} 

.mostrar-relogio{
    font-size: 200px;
    color: #eee;
    text-shadow: 1px 0px 6px #222;
    transition: all 0.2 ease;
}





/* Botao More */
.btn-more{
    cursor: pointer;
    font-family:'Roboto mono', sans-serif;
    font-weight: bold;
    color: #444;
    width: 180px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    border: 1px solid #444;
    align-self: flex-end;
     
}

/* media */

@media (max-width: 768px){
    .header{
        width: 95%;
        height: 95%;
    }
    .frase{
        font-size: 15px;
        width: 100%;
    }

    .relogio{ 
        font-size: 35px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 

    .mostrar-relogio{
        font-size: 120px;
    }

    .btn-more{ 
        align-self: center;
        margin-top: 20px;
    }  

    .sun{
        width: 30px;
        margin-right: 7px;
    }
}
